@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');


body {
    width: 100%;
    height: 100%;
    background-color: #141b2d;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1 
{
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 500;
}
.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #000f;
}

table
{
    color: white;
}

th, td {
    padding: 0.5cm;
    border-bottom: 1px solid #4b4d51;

}

th {
    background-color: #2a2d64;
    color: #fff;
}

tr {
    background-color: #1f2a40;
}

tr:hover {
    background-color: #313b4f;
}

.profile-img
{
    width: 150px;
    height: 150px;
    border-radius: 75%;
}

form 
{
    width: 50%;
    padding: 2rem;
    margin: 3em auto;
    background: #383838;
    color: #fff;
    border-radius: 0.5rem;
}


input, select, textarea 
{
    width: 100%;
    padding: 0.25rem;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

button
{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.icon-delete{
    width: 20px;
}

.delete
{
    display: flex;
    justify-content: space-evenly;
}

.delete span 
{
    display: inline-flex;
    align-items: center;
}

.button 
{
    position: relative;
    border: none;
    outline: none;
    background: none;
    padding: 10px 24px;
    border-radius: 7px;
    min-width: 142px;
    cursor: pointer;
    display: flex;
    color: #244b41;
    background: #4cceac;
}

.button:hover
{
    background: #359078;
}

input[type="button"] {
    width: 30%;
    margin: auto;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    width: 30%;
    margin: auto;
    border-radius: .25rem;
    border: 1px;
    background-color: lightgray;
}

.form-control{
    display: block;
    width: 90%;
}

input:invalid {
  border-bottom: solid 2px red;
}

fieldset
{
    border: none;
}